*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/gradle.xml
.idea/gradle.xml
.idea/misc.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules.xml
.idea/modules.xml
bookpart/proguard-rules.pro
bookpart/src/main/res/mipmap-hdpi/ic_launcher.png
bookpart/src/main/res/mipmap-mdpi/ic_launcher.png
bookpart/src/main/res/mipmap-xhdpi/ic_launcher.png
bookpart/src/main/res/mipmap-xxhdpi/ic_launcher.png
bookpart/src/main/res/mipmap-xxxhdpi/ic_launcher.png
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
