<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coagent.lyscs.bookpart">

    <!--
    SubMenuDemo：菜单中有子菜单
    ContextMenuDemo：上下文菜单
    XmlMenuDemo：XML定义菜单
    ActionViewDemo:ActionBAR是图标自定义
    ActionTabDemo:ActionTab切换Fragment
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.WithActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ContextMenuDemo"/>
        <activity android:name=".ActionViewDemo"/>
        <activity
            android:name=".ActionTabDemo"
            android:label="@string/title_activity_action_tab_demo">
        </activity>
    </application>

</manifest>